Source: fortuner2
Section: games
Priority: optional
Maintainer: Juhani Numminen <juhaninumminen0@gmail.com>
Build-Depends: debhelper (>= 9),
               desktop-file-utils,
               imagemagick
Standards-Version: 3.9.5
Homepage: https://github.com/jnumm/fortuner2/
Vcs-Git: https://github.com/jnumm/fortuner2 -b debian
Vcs-Browser: https://github.com/jnumm/fortuner2/

Package: fortuner2
Architecture: all
Depends: fortune,
         fortunes-min | fortune-cookie-db,
         gettext-base,
         libnotify-bin,
         ${misc:Depends}
Description: shows fortunes as notifications
 fortuner2 displays a notification containing a random adage. The adages
 come from fortune program.
 .
 It uses notify-send to deliver the adages to the notification daemon
 which in turn shows them to the user.
 .
 It has about the same functionality as fortuner, but the implementation
 is lighter. fortuner is a C++ application and fortuner2 is a shell
 script.
