#!/usr/bin/make -f

# Installation directories for the Makefile of the package.
directories = PREFIX=/usr BINDIR=/usr/games SYSCONFDIR=/etc

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- $(directories)

override_dh_auto_install:
	dh_auto_install -- $(directories)
